#SEMANTIC-KERNEL'S

# ── Azure OpenAI ─────────────────────────────────────────
AZURE_OPENAI_ENDPOINT=https://veera-agent-integration-resource.openai.azure.com
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_KEY=6gbhXf8C9ZruEJcew2U1mn6Oaunre95YBNna0neJlGFzZ7Bhk11zJQQJ99BFACHYHv6XJ3w3AAAAACOGMvKt
 
# ── Azure AI Foundry (existing project) ────────────────
PROJECT_ENDPOINT=https://veera-agent-integration-resource.services.ai.azure.com/api/projects/veera-agent-integration
AGENT_ID=asst_zT0XgJ4qW02AhAf4ipzCrCFu
KNOWLEDGE_AGENT_ID=asst_Wv35o5S8wnxn9yxeJ3qPEgd3
 
FRONTEND_URL=http://localhost:3000

#-----Bedrock Agent's 

AWS_DEFAULT_REGION=us-east-1
AWS_BEDROCK_AGENT_ROLE_ARN=arn:aws:iam::368409608260:role/service-role/AmazonBedrockExecutionRoleForAgents_M3VZHH0JMNP
AWS_BEDROCK_FOUNDATION_MODEL=anthropic.claude-3-7-sonnet-20250219-v1:0
AWS_BEDROCK_AGENT_ID=4EZLIRQY2N
AWS_ACCESS_KEY_ID=AKIAVLRXMQBCKHWNHZMN
AWS_SECRET_ACCESS_KEY=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

# Google Gemini (chat completion)
GOOGLE_API_KEY=AIzaSyCHVZWYOTR6qo32iTBUnja-uG7OcbX_mK8


#LANGCHAIN's Values

# For the generic chat model (Model Inference API)
AZURE_INFERENCE_ENDPOINT=https://veera-agent-integration-resource.cognitiveservices.azure.com/models   # or /openai/v1 for AOAI
AZURE_INFERENCE_CREDENTIAL=6gbhXf8C9ZruEJcew2U1mn6Oaunre95YBNna0neJlGFzZ7Bhk11zJQQJ99BFACHYHv6XJ3w3AAAAACOGMvKt  # or use Entra ID instead

# For Agent Service (both agents live in this project)
PROJECT_ENDPOINT=https://veera-agent-integration-resource.services.ai.azure.com/api/projects/veera-agent-integration

# Your two existing Foundry Agents
PEOPLE_AGENT_ID=asst_zT0XgJ4qW02AhAf4ipzCrCFu
KNOWLEDGE_AGENT_ID=asst_Wv35o5S8wnxn9yxeJ3qPEgd3

# Optional: model names
GENERIC_MODEL=gpt-4.1-mini
FRONTEND_URL=http://localhost:300O